<h1>{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br>
        <a [routerLink]="['/heroes']" class="btn btn-block btn-outline-danger">Regresar</a>
    </div>
    <div class="col-md-8">
        <h2>{{heroe.nombre}}</h2>
        <p>{{heroe.bio}}</p>
        <img src="../../../assets/img/DC.png" *ngIf='heroe.casa == "DC"' class="logo-heroe" [alt]="heroe.casa">
        <img src="../../../assets/img/Marvel.png" *ngIf='heroe.casa == "Marvel"' class="logo-heroe" [alt]="heroe.casa">
    </div>
</div>